@page "/"
@inject DashboardData.DashboardDataService dashboardDataService
@inject IJSRuntime JS

<div class="row-layout master-view-container">
    <IgbGrid Data="dashboardDataAllTeamMembers" PrimaryKey="FirstName" AutoGenerate="false"
             Width="1200px" Height="600px" class="ig-typography grid" master-view-scope>
        <IgbColumn Field="FirstName"
                   Header="First Name Header Template"
                   Editable=true
                   HeaderTemplateScript="firstNameHeaderTemplate"
                   InlineEditorTemplateScript="firstNameInlineEditorTamplate">
        </IgbColumn>
        <IgbColumn Field="LastName"
                   Header="Last Name Inline Edit Template"
                   Editable=true>
            <HeaderTemplate>
                IHT @(context.Column.Header)
            </HeaderTemplate>
            <BodyTemplate>
                @(context.Cell.Value.ToString() ?? string.Empty) CT
            </BodyTemplate>
            @*Does not work - logged here https://github.com/IgniteUI/igniteui-blazor/issues/62*@
            <InlineEditorTemplate>
                <IgbSelect Value="@(context.Cell.Value.ToString())" Change="@(e => context.Cell.Value = e.Detail.Value)">
                    @foreach (var item in dashboardDataAllTeamMembers)
                    {
                        <IgbSelectItem Value="@item.FirstName">@item.FirstName</IgbSelectItem>
                    }
                </IgbSelect>
            </InlineEditorTemplate>
        </IgbColumn>
        <IgbColumn Field="ID"
                   Header="ID with JS view template"
                   BodyTemplateScript="idCellTemplate">
        </IgbColumn>
        <IgbColumn Field="HireDate"
                   Header="Hire Date Two Templates"
                   DataType="GridColumnDataType.Date"
                   Editable=true
                   BodyTemplateScript="hireDateCellTemplate"
                   InlineEditorTemplateScript="hireDateCellEditTemplate">
        </IgbColumn>
        <IgbColumn Field="HireDate"
                   Header="Hire Date Edit Template"
                   DataType="GridColumnDataType.Date"
                   Editable=true
                   InlineEditorTemplateScript="hireDateCellEditTemplate">
        </IgbColumn>
    </IgbGrid>
</div>

@code {
    private DashboardData.AllTeamMembersType[] dashboardDataAllTeamMembers = Array.Empty<DashboardData.AllTeamMembersType>();
    private DotNetObjectReference<MasterView> objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/MasterView.razor.js");
        }

        objRef = DotNetObjectReference.Create(this);
        await JS.InvokeAsync<Template4o.DashboardData.AllTeamMembersType[]>("DashboardDataServiceGetAllTeamMembers", objRef, dashboardDataAllTeamMembers);
    }

    protected override async Task OnInitializedAsync()
    {
        dashboardDataAllTeamMembers =
            await this.dashboardDataService.GetAllTeamMembers() ?? dashboardDataAllTeamMembers;
    }
}
