@page "/"

<div class="row-layout master-view-container">
    <IgbGrid Data="dashboardDataAllTeamMembers" PrimaryKey="FirstName" AutoGenerate="false"
             Width="1200px" Height="600px" class="ig-typography grid" master-view-scope>
        <IgbColumn Field="FirstName"
                   Header="First Name Header Template"
                   Editable=true
                   DataType="GridColumnDataType.String">
            <HeaderTemplate>
                @(context.Column.Header.ToString()?.ToUpper() ?? string.Empty)
            </HeaderTemplate>
            <BodyTemplate>
                @(context.Cell.Value.ToString() ?? string.Empty) BT
            </BodyTemplate>
            <InlineEditorTemplate>
                <IgbSelect Value="@(context.Cell.EditValue.ToString())" Change="@((e) => FirstNameOnChange(e, context))">
                    @foreach (var item in dashboardDataAllTeamMembers)
                    {
                        <IgbSelectItem Value="@item.FirstName">@item.FirstName</IgbSelectItem>
                    }
                </IgbSelect>
            </InlineEditorTemplate>
        </IgbColumn>
        <IgbColumn Field="LastName"
                   Header="Last Name Inline Edit Template"
                   DataType="GridColumnDataType.String"
                   Editable=true>
            <BodyTemplate>
                @(context.Cell.Value.ToString() ?? string.Empty) BT
            </BodyTemplate>
            <InlineEditorTemplate>
                <IgbSelect Value="@(context.Cell.EditValue.ToString())" Change="@((e) => LastNameOnChange(e, context))">
                    @foreach (var item in dashboardDataAllTeamMembers)
                    {
                        <IgbSelectItem Value="@item.LastName">@item.LastName</IgbSelectItem>
                    }
                </IgbSelect>
            </InlineEditorTemplate>
        </IgbColumn>
        <IgbColumn Field="HireDate"
                   Header="Hire Date Two Templates"
                   DataType="GridColumnDataType.Date"
                   Editable=true>
            <InlineEditorTemplate>
                <IgbDateTimeInput Value="@(DateTime.Parse(context.Cell.Value.ToString(), cultureInfo))" 
                                  Change="@((e) => HireDateOnChange(e, context))"
                                  InputFormat="dd-MM-yyyy"
                                  DisplayFormat="mediumDate">
                </IgbDateTimeInput>
            </InlineEditorTemplate>
        </IgbColumn>
    </IgbGrid>
</div>